body{
    padding: 0;
    margin: 0;
 }
 .logout {
     display: inline-block;
     padding: 10px 20px;
     background-color: #ccc;
     color: #000;
     text-decoration: none;
     border-radius: 5px;
   }
   
   .logout:hover {
     background-color: #aaa;
   }
 
   .container{
     align-items: center;
     justify-items:center ;
     justify-content: center;
     width: 75%;
     height: auto;
     display: flex;
     margin-top: 8rem;
     padding: 2rem;
     
 }
 .container2{
    background-color:#f6f6f6;
             width: 25%;
             height: 200px;
    
     
     display: inline;
     margin-top: 1rem;
     margin-right: 2rem;
     margin-left: 2rem;
     margin-bottom: 1rem;
     padding: 2rem;
   
     
 }
 .container3{
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
    margin-top: 3rem;
    align-items: center;
     justify-items:center ;
     justify-content: center;
     width: 50%;
     height: auto;
     display: flex;
 }
 .container4{
    align-items: center;
    justify-items:center ;
    justify-content: center;
    height: auto;
    width: 25%;
    display: flex;
    margin-top: 8rem;
    margin-left: 25%;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
    border-radius: var(--border-radius);
    background: rgba(255, 255, 255, 0.5);
}
 
 a:hover{
     box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 }
 
 nav{
     
     height: 80px;
 
 }
 #logo{
     margin-left: 30px;
     margin-top: 30px;
     height: 150px;
     float: left;
 }
 #menue ul{
     list-style: none;
     margin-top: 35px;
     margin-right: 70px;
     
     
 }
 #menue ul li a{
     text-decoration: none;
     color: black;
     font-size: 18px;
     margin-top: 20px;
 }
 #menue ul li{
     margin-right: 20px;
     
     margin-left: 7.5px;
     display: inline;
     
 }
 #menue ul li a:hover{
     font-size: 20px;
     border: 1px dashed black;
     border-radius: 4px;
     background-color: whitesmoke;
     padding: 10px;
 }
 #menue{
 float: right;
 }
 nav input{
     padding: 10px;
     border-radius: 3px;
 }
 h3{
  font-family: "JetBrains Mono",monospace;
    height: 48px;
    font-size: 50px;
 }
 #search{
     margin-top: 17px;
     margin-left: 500px;
     float: left;
 
     
 }
 #srearch-logo i{
     font-size: 25px;
     color: darkcyan; 
     margin-top: 20px;
     margin-left: -30px
     
 }
 #search input{
     background-color: wheat;
     border-color: whitesmoke;
     
 }
 .img{
     width: 90px;
     height: 80;
 }
 

 .container1{
     text-align: center;
     position: absolute;
     top: 20%;
     left: 50%;
     transform: translate(-50%, -50%);
     width: 100%;
 }
 .container1 span{
 
 text-transform: uppercase;
 display: block;
 }

 
 
 .maint{
  align-items: center;
  justify-items:center ;
  justify-content: center;
  height: 200px;
  display: flex;
  margin-top: 5rem;  
}
 
 
 
 
 #containerr {
     height: auto;
 padding: 10px 16px 1px;
 font-family: Arial, Helvetica, sans-serif;
 color: black;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 16px;
 }
 .form__button{
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    color: #fff;
    border:none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background: var(--color-primary);

}
.form__button:hover{
    background: var(--color-primary-dark);
}
.form__button:active{
    transform: scale(0.90);
}


.button-div{
    
    width:350px;
    height:60px;
    border:2px solid #eee;
    display:flex;
    justify-content:center;
    align-items:center;
    border-radius:7px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

    padding:7px;
}

.signup-button{
    width:100%;
    height:55px;
    margin-right:7px;
    border:none;
    border-radius:5px;
    background-color:#f14f52;
    font-size:17px;
    font-weight:600;
    cursor:pointer;
}

.login-button{
    width:100%;
    height:55px;
    border:none;
    border-radius:5px;
    font-size:17px;
    font-weight:600;
    color:#fff;
    background-color:#1859c9;
    cursor:pointer;
}


.login-button:hover{
    
    background-color:#1859c9db;
}


.signup-button:hover{
    
    background-color:#d21c1cd1;
}
.card {
  width: 20%;
  height: 300px;
  padding: 10px;
  margin-bottom: 20px;
  margin-top: 10rem;
  margin-left: 3rem;
  display:inline-flex;
}

.card img {
  width: 100%;
  height: 170;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.card-content {
  margin-top: 10px;
}

.card-content h3 {
  font-size: 18px;
  margin-bottom: 5px;
}

.card-content p {
  font-size: 14px;
  color: #888;
}


/* CSS */
.button-30 {
    align-items: center;
    appearance: none;
    background-color: #ffffff;
    border-radius: 4px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: inline-flex;
    font-family: "JetBrains Mono",monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s,transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow,transform;
    font-size: 18px;
  }
  
  .button-30:focus {
    box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  }
  
  .button-30:hover {
    box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    transform: translateY(-2px);
  }
  
  .button-30:active {
    box-shadow: #D6D6E7 0 3px 7px inset;
    transform: translateY(2px);
  }

 
  .button-55 {
    align-self: center;
    background-color: #fff;
    background-image: none;
    background-position: 0 90%;
    background-repeat: repeat no-repeat;
    background-size: 4px 3px;
    border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
    border-style: solid;
    border-width: 2px;
    box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
    box-sizing: border-box;
    color: #41403e;
    cursor: pointer;
    display: inline-block;
    font-family: Neucha, sans-serif;
    font-size: 1rem;
    line-height: 23px;
    outline: none;
    padding: .75rem;
    text-decoration: none;
    transition: all 235ms ease-in-out;
    border-bottom-left-radius: 15px 255px;
    border-bottom-right-radius: 225px 15px;
    border-top-left-radius: 255px 15px;
    border-top-right-radius: 15px 225px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-55:hover {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
    transform: translate3d(0, 2px, 0);
  }
  
  .button-55:focus {
    box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
    background-color: blue;
    color: white;
  }
